[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
url = "https://github.com/explosion/spacy-models/releases/download/ru_core_news_lg-3.0.0/ru_core_news_lg-3.0.0.tar.gz#egg=ru_core_news_lg-3.0.0"


[packages]
flask = "*"
spacy = "*"
pandas = "*"
flask-bootstrap = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
streamlit = "*"
spacy-streamlit = "*"
flask-ext = "*"
ru_core_news_lg = "*"

[dev-packages]


[requires]
python_version = "3.8"
