[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
spacy = "*"
pandas = "*"
flask-bootstrap = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
streamlit = "*"
spacy-streamlit = "*"
flask-ext = "*"
ru_core_news_lg = "*"
pipenv = "*"
ru-core-news-lg @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_lg-3.1.0/ru_core_news_lg-3.1.0-py3-none-any.whl
[dev-packages]

[requires]
python_version = "3.8"
