[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
spacy = "*"
pandas = "*"
flask-bootstrap = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
streamlit = "*"
spacy-streamlit = "*"
flask-ext = "*"
flask-markdown = "*"

[dev-packages]


[requires]
python_version = "3.8"
