{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Симантика{% endblock %}

{% block message_content %}
<br>
<h1>Синтаксический разбор текста</h1>
<br>
<form action="" method="POST" role="form" class="form" name="form">
    {{ form.hidden_tag() }} {{ wtf.form_errors(form, hiddens="only") }}
    <div class="input-group">
      {{ form.text(class="form-control", placeholder="Введите текст") }}
    </div>
    <br>
    {{ form.submit(class="btn btn-info") }}
</form>
<br>
<div class="page-header">
  <h5>{% if text %}
        Введенный текст: <br><br>
       {{ text|markdown }}
      {% endif %}
  </h5>
<br>
<div class="page-header">
  <h5>{% if result %}
        Результат анализа текста: <br><br>
        {{ result|markdown }}
      {% endif %}
  </h5>

</div>

{% endblock %}