{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Информация{% endblock %}

{% block message_content %}
<br>
<h1>Информация</h1>
<hr>
<br>
<h2>Справочная информация по тэгам</h2>
<div>
    <div>
        <h5>
            ADJ : прилагательное<br>
            ADP : сложение<br>
            ADV : наречие<br>
            AUX : вспомогательный глагол<br>
            CONJ : координационное соединение<br>
            DET : определитель<br>
            INTJ : междометие<br>
            NOUN : существительное<br>
            NUM : цифра<br>
            PART : частица<br>
            PRON : местоимение<br>
            PROPN : собственное существительное<br>
            PUNCT : пунктуация<br>
            SCONJ : подчиненное соединение<br>
            SYM : символ<br>
            VERB : глагол<br></h5>
    </div>
    <div>
        <h5>
            ACL: модификатор Clausal существительного<br>
            ACOMP: дополнительное прилагательное<br>
            ADVCL: модификатор условного выражения<br>
            ADVMOD: Модификатор наречий<br>
            AGENT: Агент<br>
            AMOD: Модификатор прилагательного<br>
            APPOS: Модификатор аппозиции<br>
            ATTR: Атрибут<br>
            AUX: вспомогательный<br>
            AUXPASS: вспомогательный (пассивный)<br>
            CASE: маркер регистра<br>
            CC: координационное соединение<br>
            CCOMP: дополнение Клауса<br>
            COMPOUND: модификатор соединения<br>
            CONJ: соединение<br>
            CSUBJ: субъект Клауса<br>
            CSUBJPASS: субъект (пассивный)<br>
            DATIVE: дательный падеж<br>
            DEP: неклассифицированный зависимый<br>
            DET: определитель<br>
            DOBJ: прямой объект<br>
            EXPL: исключительный<br>
            INTJ: междометие<br>
            MARK: маркер<br>
            META: мета-модификатор<br>
            NEG: модификатор отрицания<br>
            NOUNMOD: модификатор именного<br>
            NPMOD: существительная фраза как модификатор наречий<br>
            NSUBJ: Номинальный предмет<br>
            NSUBJPASS: Номинальный с ubject (пассивный)<br>
            NUMMOD: модификатор числа<br>
            OPRD: предикат объекта<br>
            PARATAXIS: паратаксис<br>
            PCOMP: дополнить предлога<br>
            POBJ: объект предлога<br>
            POSS: модификатор владения<br>
            PRECONJ: прекорреляционное соединение<br>
            PREDET : Предопределитель<br>
            PREP: модификатор предложения<br>
            PRT: частица<br>
            PUNCT: пунктуация<br>
            QUANTMOD: модификатор квантификатор<br>
            RELCL: модификатор относительного предложения<br>
            ROOT: корень<br>
            XCOMP: дополнение дополнения Клауса<br>
        </h5>
    </div>
</div>




{% endblock %}